span.color1 {
    color: #007faf;
}
span.color2 {
        color: #f48f00;
    }
    span.color3 {
        color: #c94a38;
    }
span.input-group-addon{
        background-color: #007faf !important;
        color: #fff !important;
    }


.logo { 
    h2 {
        font-size: 50px;
        font-weight: bold;
    }
}
.col-md-8.right-content {
}

.right-content {
    h4 {
        font-size: 25px;
        font-weight: bold;
        margin-top: 30px;
    }
}
.form-section {
    margin-top: 119px;
    color:grey;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin-top: 60px;
}
      
.form-control {
    padding: 23px;
}

.product {
    margin-top: 234px;

    h6:hover {
        text-decoration: underline;
        color: red;
    }

}

  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
// button {
//   background-color: #4CAF50;
//   color: white;
//   padding: 14px 20px;
//   margin: 8px 0;
//   border: none;
//   cursor: pointer;
//   width: 100%;
//   opacity: 0.9;
// }

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}