.navbar-inverse {
    background-color: #37454d;
    border-color: #37454d;
    border-radius: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    padding: 9px 0px;
}

span.color1 {
    color: #fe7831;
    font-family: poppins;
    font-size: 44px;
}

span.color2 {
    color: #6f6969;
    font-family: poppins;
    font-size: 44px;
}

.aboutus-header h2 {
    font-size: 50px;
    font-weight: bold;
}

.aboutus-header {
    margin-top: 116px;
    margin-left: 408px;
}

.modal-footer {
    background: #37454d;
}

.bottom-footer {
    background: #37454d;
    padding: 10px 0px;
    text-align: center;
}

.bottom-footer h3 {
    color: #A1A1A1;
    font-size: 13px;
}

.bottom-footer p {
    color: #A1A1A1;
    margin-top: 7px;
    font-size: 9px;
}

.top-footer-about {
    background: #293339 !important;
    padding: 36px 0 !important;
    margin-top: 300px !important;
}

.top-footer h2 {
    color: #A1A1A1;
    font-size: 16px;
    margin-top: 19px;
}

.footer-form .form-control {
    height: 45px;
    width: 394px!important;
    border: none;
}

.btn.btn-success {
    padding: 12px 29px;
    margin-top: 18px;
    box-shadow: none !important;
    border-radius: 1px;
    background: #fe7831;
    border-color: #fe7831;
    font-family: poppins;
    outline: 0;
}

.aboutus h3 {
    font-size: 45px;
    font-weight: bold;
    font-family: poppins;
    margin-top: 102px;
}

.image-section {
    margin-top: 130px;
}

.image-section .img-responsive {
    height: 200px;
    width: 317px;
}

.aboutus p {
    font-family: poppins;
    font-size: 19px;
    font-weight: 300;
    line-height: 1.5;
}

section.about {
    margin-top: 72px;
    margin-bottom: 205px;
}