/*.top-footer{
	margin-top:460px; 
}*/
span.color2 {
    color: #000;
    font-family: poppins;
    font-size: 44px;
}
span.color1 {
    color: #000;
    font-family: poppins;
    font-size: 44px;
}
section.intro.top-section.contactus {
    background: #F7F7F7;
}
.btn-default {
    background: #05a3dc !important;
    border: 2px solid #05a3dc !important;
    padding: 11px 21px !important;
    font-weight: bold !important;
    color: #fff !important;
    margin-right: 10px !important;
}
.aboutus-header h3 {
    font-size: 33px;
    font-weight: bold;
    font-family: poppins;
    margin-bottom: 63px;
}

.contactus-heading h3 {
    font-size: 21px;
    font-weight: bold;
    font-family: poppins;
}
.contactus-form h3 {
    font-size: 21px;
    font-weight: bold;
    font-family: poppins;
}
.Address h5 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 24px;
    font-family: poppins;
}
.Email h5 {
    font-size: 16px;
    font-weight: 500;
    font-family: poppins;
    margin-top: 24px;
}
.Phone-No h5 {
    font-size: 16px;
    font-family: poppins;
    font-weight: 500;
    margin-top: 24px;
}