.forget a {
    color: #05a3dc;
}
.forget {
	margin-top: 17px;
	margin-left: 15px;
}
h2.title {
	font-family: poppins;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 35px;
}
.btn-default {
	margin-left: 18px;
	margin-top: 0px;
	padding: 9px 16px;
}
.absent a {
    color: #05a3dc;
    margin-top: 50px;
}
.line .seprator {
    background: #a09797 !important;
    margin-top: 14px !important;
    height: 3px !important;
    width: 306px !important;
}
.form-group h2 {
	font-size: 13px;
	color: #ada09d;
}
.btn-default {
    background: #4caf50;
    border: 2px solid #4caf50;
    padding: 9px 16px;
    font-weight: bold;
    color: #fff;
    margin-right: 10px;
}
.row-box {
    background: #fff;
    box-shadow: 0 1px 20px rgba(20, 20, 20, 0.2);
    padding: 40px 40px 60px;
    margin-bottom: 3opx;
}
.row-box p {
    font-size: 13px;
    margin-bottom: 31px;
    margin-top: 0px;
}
.btn-default i {
	margin-right: 12px;
}
.sign-up {
    margin: 25px 0 !important;
}
