/*

/*=====================================================
=            Bootstrap 2.3.2 Media Queries            =
=====================================================*/

@media only screen and (max-width: 1200px) {
    .item-img img {
        height: 173px !important;
        width: 100% !important;
    }
}

@media only screen and (max-width: 979px) {
    .logo h2 {
        text-align: center;
    }
    .right-content h4 {
        text-align: center;
    }
    .product-header h4 {
        text-align: center;
    }
    .item-img img {
        height: 242px !important;
        width: 73% !important;
    }
    .list-style.product li {
        text-align: center !important;
    }
    .top-footer h2 {
        margin-top: 26px !important;
    }
}

@media only screen and (max-width: 767px) {
    .logo h2 {
        text-align: center;
    }
    .right-content h4 {
        font-size: 17px;
        text-align: center;
    }
    .product-header h4 {
        margin-left: 0px;
        text-align: center;
    }
    .item-img img {
        height: 196px !important;
        width: 75% !important;
    }
    .form-section {
        margin: 30px 0;
        padding: 16px;
    }
    .list-style.product {
        margin-top: 20px;
        margin-left: 0;
        padding: 0;
    }
    .item-details {
        margin-left: 0;
    }
    .btn.btn-success {
        margin-top: 0 !important;
    }
    .search-form .form-control {
        min-width: 100% !important;
    }
    .btn-default {
        display: block;
        width: 100%;
        margin-top: 10px;
    }
    .footer-form .form-control {
        width: 100% !important;
        display: block !important;
        border-radius: 0;
        margin-bottom: 10px;
    }
    .btn.btn-success {
        width: 100%;
        display: block;
        margin-bottom: 25px;
        margin-top: 5px;
    }
    .input-group {
        width: 100%;
    }
    footer {
        text-align: center;
    }
    .intro.top-section {
        padding: 40px 0px;
    }
    .intro.top-section.product {
        margin-top: 20px;
    }
    .top-footer h2 {
        font-size: 15px;
        margin-top: 26px !important;
        margin-bottom: 30px;
    }
    .list-style.product li {
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 480px) {
    .product-header h4 {
        font-size: 19px !important;
        margin-left: 0px !important;
        text-align: center;
    }
    .item-img img {
        height: 251px !important;
        width: 82% !important;
    }
    span.color1 {
        font-size: 33px;
    }
    span.color2 {
        font-size: 33px;
    }
    .item-img img {
        height: 135px !important;
    }
    
    
}

@media only screen and (max-width: 320px) {}