body {
    overflow-x: hidden;
}

.navbar-inverse {
    background-color: #37454d;
    border-color: #37454d;
    border-radius: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    padding: 9px 0px;
}

.navbar-inverse .navbar-nav a {
    color: rgb(255, 255, 255) !important;
    font-size: 16px !important;
    font-weight: bold;
    font-family: poppins;
}

.navbar-inverse .navbar-nav a:hover {
    background: white !important;
    color: #37454d !important;
}

.dropdown-menu {
    background-color: rgb(85, 85, 85);
}

.fa-lock {
    padding: 0px 3px;
}

span.color1 {
    color: #fe7831;
    font-family: poppins;
    font-size: 44px;
}

span.color2 {
    color: #6f6969;
    font-family: poppins;
    font-size: 44px;
}

.logo h2 {
    font-size: 50px;
    font-weight: bold;
}

.right-content h4 {
    margin-top: 29px;
    font-size: 30px;
    font-family: poppins;
    color: #211b1b;
    font-weight: bold;
}

.input-group-addon {
    padding: 6px 29px;
    font-size: 23px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #4caf50;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #000;
    color: #fff;
    padding: 9px 12px;
    border-radius: 50%;
    cursor: pointer;
}

.to-top:hover {
    background: #d7d7d7;
    color: #000;
}

input.search-icon {
    width: 689px;
    height: 38px;
    font-family: poppins;
    outline: 0px;
}

.form-control {
    padding: 23px;
}

.form-section {
    color: grey;
}

.product h6:hover {
    text-decoration: underline;
    color: #4caf50;
}

.product h6 {
    font-family: poppins;
    font-size: 18px;
    color: #000;
    margin-left: 17px;
}

.intro.top-section {
    padding: 64px 0px;
}

.intro.top-section.product {
    margin-top: 190px;
    background: #F7F7F7;
}

.product-header h4 {
    font-size: 24px;
    font-family: poppins;
    font-weight: bold;
    margin-left: 93px;
}

.list {
    margin-bottom: 50px;
}

.item-box {
    padding: 30px 0;
}


/*.item-box:hover{
    border: 1px solid ;
}*/

.item-img:hover {
    transform: scale(1.1);
    opacity: 1;
    visibility: visible;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.item-img img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    margin: auto;
    width: 100%;
}

.img-responsive {
    margin: auto !important;
}

.item-details {
    padding: 0 50px;
}

.item-details h4 {
    font-size: 15px;
    color: black;
    margin-bottom: 0px;
    font-family: poppins;
    margin-top: 19px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 31px;
}

.item-details p {
    font-size: 11px;
    color: black;
    margin-bottom: 0px;
    font-family: poppins;
}

a:focus,
a:hover {
    text-decoration: none;
}

.list-style.product {
    margin-top: 21px;
    margin-left: 60px;
}

.list-style.product li {
    line-height: 1.5;
    list-style: none;
    font-family: poppins;
    color: #000;
}

.button {
    padding-left: 60px;
    margin-top: 14px;
}

.btn-primary {
    color: #fff;
    background-color: #4caf50;
    border-color: #4caf50;
    font-size: 8px;
    margin-top: 10px;
    border-radius: 1px;
}

.btn-primary:hover {
    background: #fff;
    color: #37454d;
}

.btn-default {
    background: #05a3dc !important;
    border: 2px solid #05a3dc !important;
    padding: 11px 21px !important;
    font-weight: bold !important;
    color: #fff !important;
    margin-right: 10px !important;
}

.btn-info:hover {
    background: #fff !important;
    color: #37454d !important;
    border-color: #000;
}

.close {
    color: #fff;
}

.modal-header {
    background: #37454d;
    color: #fff;
    font-family: poppins;
}

.modal-footer {
    background: #37454d;
}

.modal-body {
    margin-top: 1px;
}

.modal-dialog {
    margin-top: 126px;
}

.btn-default {
    background: #265728;
    border: 2px solid #265728;
    padding: 9px 16px;
    font-weight: bold;
    color: #fff;
    margin-right: 10px;
}

.top-footer {
    background: #293339 !important;
    padding: 36px 0;
}

.top-footer h2 {
    color: #A1A1A1;
    font-size: 16px;
    margin-top: 19px;
}


/*.seprator {
    background: #a09797;
    width: 502px !important;
    height: 2px;
    margin: 0px 0 29px
}*/

.social-icon {
    padding: 0;
}

.social-icon li {
    list-style: none;
    display: inline-block;
}

.social-icon li i {
    color: black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: white;
    text-align: center;
    padding-top: 10px;
    font-size: 17px;
    margin: 0px 0px;
}

.last-icon {
    margin-top: 15px;
}

.last-icon a {
    color: white;
}

.bottom-footer {
    background: #37454d;
    padding: 10px 0px;
    text-align: center;
}

.bottom-footer h3 {
    color: #A1A1A1;
    font-size: 13px;
}

.bottom-footer p {
    color: #A1A1A1;
    margin-top: 7px;
    font-size: 9px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin-top: 60px;
}

.input-group {
    margin-top: 19px !important;
}

.input-group.input-group-lg {
    box-shadow: none;
}

.form-inline .form-control {
    font-size: 14px;
}

.col .form-control {
    margin-left: 35px;
    margin-bottom: 15px;
    border-radius: 1px solid;
}

.btn.btn-lg {
    font-size: 20px;
}

.search-form .form-control {
    min-width: 464px;
    box-shadow: none;
    height: 48px;
}

.search-form .btn-default {
    margin-left: 0px;
    padding: 12px 38px;
    font-family: poppins;
}

.search-form .input-group {
    margin-top: 0px !important;
}

.search-form {
    margin-top: 45px;
}

.search-form .input-group-addon {
    color: #99a1b4;
    background-color: #fff;
}

.search-form .form-control {
    border-left: none;
}

.search-form .form-control:focus {
    border-color: #d0d0d0;
}

.footer-form .form-control {
    height: 45px;
    width: 394px !important;
    border: none;
}

.btn.btn-success {
    padding: 12px 29px;
    margin-top: 18px;
    box-shadow: none !important;
    border-radius: 1px;
    background: #fe7831;
    border-color: #fe7831;
    font-family: poppins;
    outline: 0;
}

.to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #fe7831;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 6px;
    font-size: 17px;
}

.to-top:hover {
    background: #fe7831;
    color: #fff;
}

.item-box .item-img {
    height: 230px;
    overflow: hidden;
}