.subscribe-image {
    margin-top: 128px;
    /* margin-bottom: 148px; */
    text-align: center;
}

.subscribe-image-details {
    margin-top: 128px;
    margin-bottom: 64px;
    font-family: poppins;
    font-size: 22px;
}

.subscribe-image-details h3 {
    font-size: 29px;
    font-family: poppins;
    font-weight: bold;
}

.subscribe-image-details h4 {
    font-size: 24px;
    font-family: poppins;
    font-weight: bold;
}

.subscribe-image-details .seprator {
    background: #000;
    width: 166px !important;
    margin-top: 20px;
}

.list-style li {
    list-style: none!important;
    line-height: 30px;
}

ul.list-style {
    padding: 0px;
}

.subscribe-button .btn-info {
    margin-top: 50px;
    margin-left: 214px;
    font-family: poppins;
    background: #fe7831;
    padding: 12px 19px;
    border-color: #fe7831;
    border-radius: 1px;
    outline: 0;
}

.email-subscribe-button,
.email-subscribe-button:hover,
.email-subscribe-button:active,
.email-subscribe-button:focus {
    padding: 13px 20px;
    background: #fe7831;
    color: #fff;
    font-weight: bold;
}

.shop-now a {
    background-color: #06a3dc;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
}

.shop-now a:hover,
a:focus {
    background-color: #008ec1;
}

.shop-now a:active {
    background-color: #027daa;
}